{# @var service \App\Entity\Service #}
{# @var image_main \App\Entity\Media #}
{# @var image_preview \App\Entity\Media #}

{% extends 'layouts/default.html.twig' %}

{% block title %}{{ service.title }} | Сити Сервис{% endblock %}
{% block meta %}
    <meta property="og:title" content="{{ service.title }}">
    <meta property="og:description"
          content="{{ service.description | striptags }}">
{% endblock %}

{% block content %}
    {% include 'components/base/breadcrumbs.html.twig' with { breadcrumbs: [
        {title : 'Главная', url : '/'},
        {title :  service.title },
    ] } %}
    <div class="container">
        <h1 class="title-24-53 main__title main__title_short">
            {{ service.subTitle }}
        </h1>
    </div>
    {% set image_main = service | filterServiceImage(1) %}
    <div class="main__image">
        {% if image_main %}
            <picture>
{#                <source srcset="{{ vich_uploader_asset(image_main, 'imageFile') | imagine_filter_cache('banner_md') }}" type="image/webp">#}
                <source srcset="{{ vich_uploader_asset(image_main, 'imageFile') | imagine_filter_cache('banner_md') }}" type="image/jpeg">
                <img src="{{ vich_uploader_asset(image_main, 'imageFile') | imagine_filter_cache('banner_md') }}" alt="{{ service.title }}">
            </picture>
        {% else %}
            <picture>
{#                <source srcset="{{ asset('build/images/default-service-page-image.webp') | imagine_filter_cache('banner_md') }}" type="image/webp">#}
                <source srcset="{{ asset('build/images/default-service-page-image.jpg') | imagine_filter_cache('banner_md') }}" type="image/jpeg">
                <img src="{{ asset('build/images/default-service-page-image.jpg') | imagine_filter_cache('banner_md') }}" alt="{{ service.title }}">
            </picture>
        {% endif %}
    </div>

    {% set about = service.about.current %}
    {% if about %}
        {% set image_preview = service | filterServiceImage(2) %}
        {% set title = "<strong>#{about.title}</strong>" %}
        {% include 'components/sections/about.html.twig' with { heading: 'Об услуге', title, description: about.description, image: image_preview } %}
    {% endif %}

    {% if service.expertise | length %}
        {% include 'components/sections/service/expertise.html.twig' with { expertise: service.expertise } %}
    {% endif %}

    {% if service.product and service.product.products | length %}
        {% include 'components/sections/service/products.html.twig' with { product: service.product } %}
    {% endif %}

    {% if service.workCategories | length %}
        {% include'components/sections/service/cases.html.twig' with { categories: service.workCategories } %}
    {% endif %}

{% endblock %}