{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var branch \App\Entity\Branch #}
{# @var review \App\Entity\Review #}
{# @var advantage \App\Entity\Advantage #}

{% extends 'base.html.twig' %}

{% block title %}Домашняя страница{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Домашняя страница</h1>

        {% set contact = contact() %}
        {% set socialNetworks = socialNetworks() %}
        {% set menuItems = menuLinks() %}

        <section>
            <h2 style="color: #7c2d12">Меню</h2>
            <ul>
                {% for menu in menuItems %}
                    <li><a href="{{ path(menu['link']) }}">{{ menu['name'] }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2 style="color: #7c2d12">Контакты</h2>
            <ul>
                <li>Адрес: {{ contact.address }}</li>
                <li>
                    <ul>
                        Телефоны:
                        {% for phone in contact.phone %}
                            <li>{{ phone }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li>ИНН: {{ contact.inn }}</li>
                <li>Координаты на карте Яндекс: {{ contact.coordinates }}</li>
            </ul>
        </section>

        <section>
            <h2 style="color: #7c2d12">Соц.сети</h2>
            <ul>
                {% for socialNetwork in socialNetworks %}
                    <li>{{ socialNetwork.name }} - {{ socialNetwork.link }}</li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2 style="color: #7c2d12">Филиалы</h2>
            <ul>
                {% for branch in branches %}
                    <li>{{ branch.city }} - <a href="{{ branch.link }}">{{ branch.address }}</a></li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2 style="color: #7c2d12">Отзывы</h2>
            {% for review in reviews %}
                <ul>
                    <li>{{ review.preview }}</li>
                    <li>{{ review.author[0] }}</li>
                    <li>{{ review.author[1] }}</li>
                    {% if  review.file is not null %}
                        <li><a href="{{ vich_uploader_asset(review.file, 'imageFile') }}">Смотреть оригинал</a></li>
                    {% else %}
                        <li style="color: #7c2d12">Файлов нет</li>
                    {% endif %}
                </ul>
            {% endfor %}
        </section>

        <section>
            <h2 style="color: #7c2d12">Преимущества</h2>
            {% for advantage in advantages %}
                <ul>
                    <li>{{ advantage.title }}</li>
                    <li>{{ advantage.description }}</li>
                </ul>
            {% endfor %}
        </section>

    </div>
{% endblock %}
