{% set static = static | default(false) %}
{% set image = image | default(null) %}
{% set list = list | default(null) %}
<section class="section section_light about">
    <div class="container about__container">
        <div class="section__header about__header">
            <h2 class="section__heading about__heading">{{ heading }}</h2>
            <h3 class="title-24-53 about__title{% if static %} about__title_static{% endif %}">{{ title | raw }}</h3>
        </div>
        {% if image %}
            <div class="about__image">
                <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter_cache('middle_banner') }}" alt="{{ heading }}">
            </div>
        {% endif %}
        <div class="about__description">{{ description | raw }}</div>
        {% if list %}
            <div class="about__numbers">
                <ul class="about__list">
                    {% for item in list %}
                        <li class="text-14 text-14_300 about__item about-item">
                            <div class="about-item__inner">
                                <span class="about-item__count">{{ loop.index }}</span>
                                <span class="title-44 about-item__title">{{ item.title }}</span>
                                <p class="about-item__description">{{ item.description }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('app_about') }}" class="default-button default-button_solid about__button">
                    Подробнее о нас
                    <svg>
                        <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#arrow-top-right-icon"></use>
                    </svg>
                </a>
            </div>
        {% endif %}
    </div>
</section>