<section class="section section_light services">
    <div class="container">
        <div class="section__header">
            <h2 class="section__heading">
                Услуги
            </h2>
        </div>
        <ul class="services__list">
            {% for service in services %}
                {% set image_preview = service | filterServiceImage(2) %}
                <li class="services__card services-card">
                    <div class="services-card__image">
                        {% if image_preview %}
                            <img src="{{ vich_uploader_asset(image_preview.image, 'imageFile') | imagine_filter_cache('middle_banner') }}"
                                 alt="{{ service.title }}">
                        {% else %}
                            <img src="{{ asset('build/images/default-service-image.png') }}"
                                 alt="{{ service.title }}">
                        {% endif %}
                    </div>
                    <div class="services-card__inner">
                        <h3 class="title-18-28 services-card__title">{{ service.title }}</h3>
                        <div class="services-card__description">{{ service.description | raw }}</div>
                        <a href="{{ path('app_service') }}/{{ service.slug }}"
                           class="default-button default-button_solid services-card__button">Подробнее об услуге</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>